.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.hero img {
    width: 200px;
    margin: 16px;
}
.btn-container{
    display: flex;
    gap: 15px;
}

.connect-me{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 14px;
    transition: 0.5s;
    background: linear-gradient(260deg, #ffa723 3%, #ac0cf7 120%);

}
.connect-me:hover{
  transform: scale(1.05);
  border: 4px solid white;
}
.resume{
    display: flex;
    align-items: center;
    padding: 8px;
    border: 4px solid;
    border-radius: 14px;

    transition: 0.5s;
}
.resume:hover{
  transform: scale(1.05);
  border-color:  #aa55d1 ;
}
.hero h1{
    font-size:30px ;
    width: 70%;
}
.hero p {
    width: 90%;
}
.hero h1 span {
    background: linear-gradient(270deg, #f5d099 10%, #aa55d1 120%);
    
    color: transparent;
    background-clip: text;
    font-weight: 800;
    border-bottom: 5px solid rgb(236, 186, 215);
}